<section class="adopttree">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button" ui-sref="app.profile">Profile</button>
        </div>
        <h1 class="title">Chip.co</h1>
        <div class="buttons">
            <button class="button ion-ios-redo-outline top-icon" data-pack="ios" data-tags="forward" ui-sref="app.adopt"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <h3>adopttree</h3>
    </ion-content>
</section>