<section class="adoptTree">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button" ui-sref="app.profile">Profile</button>
        </div>
        <h1 class="title">Adopt</h1>
        <div class="buttons">
            <button class="button ion-ios-redo-outline top-icon" data-pack="ios" data-tags="forward" ui-sref="app.adopt"></button>
        </div>
    </ion-header-bar>
    <ion-content class="textCenter">
        <h5 class="whiteFont uppercaseFont">Select your tree</h5><br />
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="height410">
            <ion-slide ng-repeat="tree in treeList">
                <div><img ng-src="{{tree.image}}"></div><br />
                <div class="whiteFont uppercaseFont">{{tree.location}}</div>
                <div class="whiteFont">{{tree.distance}} away </div>
            </ion-slide>
        </ion-slide-box>

        <div class="responsive-sm">
            <button class="button button-full button-positive" ng-click="adoptTree()">Adopt this tree</button>
        </div>
    </ion-content>
</section>
