<section class="adoptTree">
    <ion-header-bar align-title="left">
        <div class="col s2">
            
        </div>
        <div class="col s8">
            <h3>Select Tree</h3>
        </div>
        <div class="col s2">
            <a class="ion-ios-close-empty top-icon" data-pack="ios" data-tags="forward" ui-sref="app.dash"></a>
        </div>
    </ion-header-bar>
    <ion-content class="textCenter animated fadeInDown">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="tree in treeList">
                <img ng-src="{{tree.image}}" class="tree-img">
                <h4 class="whiteFont uppercaseFont">{{tree.location}}</h4>
                <h5 class="whiteFont">{{tree.distance}} away</h5>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <button class="button button-full btn-tree" ng-click="adoptTree()" style="text-transform: capitalize" >Adopt Me</button>
</section>