<ion-content class="congrats">
    <div class="main">
        <img class="center" src="../www/img/congrats.png">  <br>
        <h3 class="textCenter whiteFont">GREEN THUMBS UP</h3>      
    </div>
    
    <div class="textCenter whiteFont">
        <p>You have just adopted a healty green neem tree just in front of your house. Explore more what you can do with it</p>
    </div>
    <div>
        <button class="button button-full button-positive uppercaseFont whiteFont">
            personalise
        </button>
    </div>
</ion-content>
