<section class="congrats">
    <ion-content>
        <img src="/img/congrats.png" style="display:flex; margin: 50% auto 25% auto; width:20%; height:auto;">
        <h3 class="textCenter whiteFont"><img src="../img/greenThumbsUp.png" /></h3>
        <div class="textCenter whiteFont">
            <p style="font-size:11px; padding:0 10px;">You have just adopted a healty green neem tree just in front of your house. Explore more what you can do with it</p>
        </div>
    </ion-content>
    <button class="button button-full btn-tree" ng-click="adoptTree()">personalise</button>
</section>