<section class="dashboard">
    <ion-header-bar align-title="left">
        <div class="col-20">

            <img class="hdr-login-img" ng-src="{{currntUsr.image}}" class="user-icon" alt="" ui-sref="app.profile">

        </div>
        <div class="col-60">
            <h3>Chip.co</h3>
        </div>
        <div class="col-20">
            <a class="ion-heart top-icon" data-pack="ios" data-tags="forward" ui-sref="app.adopt"></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="row top-row">
            <div class="col-25">
                <b>{{currntUsr.noOfAdoptedTrees}}</b>
                <p>trees</p>
            </div>
            <div class="col-40">
                <div class="points">
                    <div class="inner">
                        <h2>{{currntUsr.VGC}}
                            <p>vgc</p>
                        </h2>
                    </div>
                    <div class="star green">
                        <p class="ion-ios-star-outline"></p>
                    </div>
                </div>
            </div>
            <div class="col-33">
                <b>183</b>
                <p>trees around</p>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="left-col">
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash1.jpg" alt="">
                </div>
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash2.jpg" alt="">
                </div>
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash3.jpg" alt="">
                </div>
            </div>
            <div class="right-col">
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash4.jpg" alt="">
                </div>
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash5.jpg" alt="">
                </div>
                <div class="card-tree" ui-sref="app.treeprofile">
                    <p>Tree Name</p>
                    <img src="../img/dash6.jpg" alt="">
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </ion-content>
</section>
