<section class="dashboard">
    <ion-header-bar align-title="left">
        <div class="col s2">
            <img src="../img/user.png" class="user-icon" alt="">
        </div>
        <div class="col s8">
            <h3>Chip.co</h3>
        </div>
        <div class="col s2">
            <a class="ion-heart top-icon" data-pack="ios" data-tags="forward" ui-sref="app.adopt"></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="row top-row">
            <div class="col s4">
                <b>2</b>
                <p>trees</p>
            </div>
            <div class="col s4">
                <div class="points">
                    <div class="inner">
                        <h2>2000
                            <p>vgc</p>
                        </h2>
                    </div>
                    <div class="star">
                        <p class="ion-ios-star-outline"></p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <b>183</b>
                <p>trees around</p>
            </div>
        </div>

        <div class="row card-wrapper">
            <div class="card-tree">
                qowidjoqwjdp
            </div>
        </div>

    </ion-content>
</section>
