<section class="dashboard">
    <ion-header-bar align-title="left">
        <div class="col s2">
            <img src="../img/user.png" class="user-icon" alt="">
        </div>
        <div class="col s8">
            <h3>Chip.co</h3>
        </div>
        <div class="col s2">
            <a class="ion-heart top-icon" data-pack="ios" data-tags="forward" ui-sref="app.adopt"></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" ui-sref="app.tree">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" ui-sref="app.tree">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" ui-sref="app.tree">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" ui-sref="app.tree">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>
            </div>
        </div>
    </ion-content>
</section>
