<section class="emoTree">
    <ion-header-bar align-title="center" class="resetBG">
        <div class="buttons">
            <!--<button class="button" ui-sref="app.profile">Profile</button>-->
        </div>
        <h1 class="title whiteText">Emotree</h1>
        <div class="buttons">
            <a class="ion-ios-close-empty top-icon" data-pack="ios" data-tags="forward" ui-sref="app.treeprofile"></a>
        </div>
    </ion-header-bar>

    <ion-content scroll="false">
        <div class="row animated bounceIn" style="margin-top:110px">
            <div style="float:left; width:50%; position:relative; top:72%; padding-left:20px; font-weight: bold;">
                <h5 class="whiteText resetMB">Neemo The Tree</h5>
                <span class="whiteText fontSize12">Adopted by Muktai Joshi</span>
            </div>
            <div style="float:left; width:50%; position:relative; top:76%; padding-right:20px;">
                <p class="whiteText" style="float:right;margin-top: 10px;">0.7 km Away</p>
            </div>
        </div>

        <div class="textCenter">
            <p style="margin: 10px 0 0;">So...what do you feel about me?</p>
            <div class="row">
                <div class="col">
                    <div class="image animated tada">
                        <div class="icon-remove blue delete">
                            <img class="thumbnail" src="../img/1.png" ng-click="treeEmo1 = treeEmo1+1"><span class="emoNum animated rotateIn">{{treeEmo1}}</span>
                        </div>
                        <p>Huh! fine</p>
                    </div>
                </div>
                <div class="col">
                    <div class="image animated tada">
                        <div class="icon-remove blue delete">
                            <img class="thumbnail" src="../img/2.png" ng-click="treeEmo2 = treeEmo2+1"><span class="emoNum animated rotateIn">{{treeEmo2}}</span>
                        </div>
                        <p>Happy!</p>
                    </div>
                </div>
            </div>
            <div class="row textCenter">
                <div class="col">
                    <div class="image animated tada">
                        <div class="icon-remove blue delete">
                            <img class="thumbnail" src="../img/3.png" ng-click="treeEmo3 = treeEmo3+1"><span class="emoNum animated rotateIn">{{treeEmo3}}</span>
                        </div>
                        <p>Panicked</p>
                    </div>
                </div>
                <div class="col">
                    <div class="image animated tada">
                        <div class="icon-remove blue delete">
                            <img class="thumbnail" src="../img/4.png" ng-click="treeEmo4 = treeEmo4+1"><span class="emoNum animated rotateIn">{{treeEmo4}}</span>
                        </div>
                        <p>Week</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</section>
