<ion-header-bar align-title="left" class="">
    <div class="buttons">
        <!--<button class="button" ui-sref="app.profile">Profile</button>-->
    </div>
    <h1 class="title">Emo Tree</h1>
    <div class="buttons">
        <a class="ion-ios-close-empty top-icon" data-pack="ios" data-tags="forward" ui-sref="app.treeprofile"></a>
    </div>
</ion-header-bar>
<ion-content class="textCenter">
    <div class="row textCenter">
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../www/img/1.png"><span class="emoNum">2</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../www/img/2.png"><span class="emoNum">3</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row textCenter">
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../www/img/3.png"><span class="emoNum">5</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../www/img/4.png"><span class="emoNum">8</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>