<ion-header-bar align-title="center" class="">
    <div class="buttons">
        <!--<button class="button" ui-sref="app.profile">Profile</button>-->
    </div>
    <h1 class="title">Emo Tree</h1>
    <div class="buttons">
        <a class="ion-ios-close-empty top-icon" data-pack="ios" data-tags="forward" ui-sref="app.treeprofile"></a>
    </div>
</ion-header-bar>
<ion-content class="textCenter">
   <span>So...what you feel what me?</span>
    <div class="row">
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../img/1.png"><span class="emoNum">2</span>
                </div>
                <p>Huh! fine</p>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../img/2.png"><span class="emoNum">3</span>
                </div>
                <p>Happy!</p>
            </div>
        </div>
    </div>
    <div class="row textCenter">
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../img/3.png"><span class="emoNum">5</span>
                </div>
                <p>Panicked</p>
            </div>
        </div>
        <div class="col">
            <div class="image">
                <div class="icon-remove blue delete">
                    <img class="thumbnail" src="../img/4.png"><span class="emoNum">8</span>
                </div>
                <p>Week</p>
            </div>
        </div>
    </div>
</ion-content>