<section class="location">
    <ion-header-bar align-title="left">
        <div class="col s2">

        </div>
        <div class="col s8">
<!--            <h1 class="title">Adopt a Tree</h1>-->
        </div>
        <div class="col s2">
            <a class="ion-ios-close-empty top-icon" data-pack="ios" data-tags="forward" ui-sref="app.dash"></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="responsive-sm">
           <img src="../img/login-logo.png" alt="">
            <div class="col list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose your location
                    </div>
                    <select ng-model="yourLocation">
                        <option value="hsr">HSR Layout</option>
                        <option value="koramangala">Koramangala</option>
                        <option value="madiwala">Madiwala</option>
                    </select>
                </label>
            </div>
            <p class="col"><i class="ion-android-pin"></i> You are in <span style="text-transform:capitalize">{{yourLocation}}</span></p>
        </div>
    </ion-content>
    <button class="button button-full btn-tree" ui-sref="app.adopt">Browse</button>
</section>
