<ion-view view-title="Adopt a Tree">
    <ion-content>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 1</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 3</p>
                </a>

                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>

                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 3</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 5</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 4</h2>                    
                    <p><i class="ion-android-pin"></i> HSR Sector 2</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name 5</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 3</p>
                </a>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/tree.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/tree.png">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>