<ion-view view-title="Screen 5">
    <ion-content>
        <h1>Adopt a Tree</h1>
        <div class="list card">
            <div class="list">
                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../www/img/tree.png">
                    <h2>Some Tree Name 1</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 3</p>
                </a>
                
                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../www/img/tree.png">
                    <h2>Some Tree Name 2</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </a>
                
                <a class="item item-thumbnail-left" href="tree_details.html">
                    <img src="../www/img/tree.png">
                    <h2>Some Tree Name 3</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 5</p>
                </a>
                
                <a class="item item-thumbnail-left" href="#">
                    <img src="../www/img/tree.png">
                    <h2>Some Tree Name 4</h2>                    
                    <p><i class="ion-android-pin"></i> HSR Sector 2</p>
                </a>
                
                <a class="item item-thumbnail-left" href="#">
                    <img src="../www/img/tree.png">
                    <h2>Some Tree Name 5</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 3</p>
                </a>
                
            </div>
            
        </div>
    </ion-content>
</ion-view>