<ion-view view-title="Tree Details">
    <ion-content>
        <h1>Tree Details</h1>
        <div class="responsive-sm">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="../img/tree.png">
                    <h2>Some Tree Name</h2>
                    <p>BlaBlaBla</p>
                    <p><i class="ion-android-pin"></i> HSR Sector 1</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="../img/tree.png">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                        the content is from a card-body consisting of an image and paragraph text. The footer
                        consists of tabs, icons aligned left, within the card-footer.
                    </p>
                </div>

            </div>       
        </div>
        <label class="item">
            <button class="button button-block button-positive" type=""><i class="ion-heart"></i> Adopt Me</button>
        </label>
    </ion-content>
</ion-view>