
<section class="editTreeProfile">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="header-content">Look what your seeing?</div>
    </ion-header-bar>

    <form class="editTreeForm">
        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="name" type="text" ng-model="tree.name" placeholder="Name of the Tree">
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="botInfo" type="text" ng-model="tree.botInfo" placeholder="Botanical Information">
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="location" type="text" ng-model="tree.location" placeholder="Location">
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="height" type="text" ng-model="tree.height" placeholder="Height">
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="email" type="text" ng-model="tree.branchCircum" placeholder="Branch Circumference">
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <input class="validate center-align" id="email" type="text" ng-model="tree.age" placeholder="Age of Tree">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="s12 chipco-submit-btn button-full" ng-click="editTree(tree)">Save</button>
            </div>
        </div>
    </form>
</section>
