<ion-view view-title="Tree Details">
    <ion-content>
        <h1>Tree Details</h1>
        <div class="row responsive-sm">
            <div class="col list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose your location
                    </div>
                    <select>
                        <option value="koramangala">Koramangala</option>
                        <option value="hsr" selected>HSR Layout</option>
                        <option value="madiwala">Madiwala</option>
                    </select>
                </label>
            </div>
            <div class="col"><i class="ion-android-pin"></i> Your in HSR Layout</div>        
        </div>
        <label class="item">
            <button class="button button-block button-positive" type=""><i class="ion-android-pin"></i> Search location</button>
        </label>
    </ion-content>
</ion-view>