.adoptTree, .congrats {
    background: url('../img/adopt_bg.png') no-repeat center;
    height: 100%;
}
.textCenter {
    text-align: center;
}
.height410 {
    height: 410px;
}
.whiteFont {
    color: white;
}
.uppercaseFont {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.main img {
    width: 55%;
    padding: 19px;
    overflow: auto;
    margin-top: 40%;
}